{% load static %}
<div class="footer-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-column">
                    <h2 class="footer-heading">About us</h2>
                    <p>High-quality 19" cabinets and IP rated enclosures for data centers, telecom and industrial applications. ISO 9001 / 14001 certified.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-column">
                    <h2 class="footer-heading">Get in Touch</h2>
                    <ul>
                        {% if company.address %}<li>{{ company.address }}</li>{% endif %}
                        {% if company.email %}<li>{{ company.email }}</li>{% endif %}
                        {% if company.phone %}<li>{{ company.phone }}</li>{% endif %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-column footer-links">
                    <h2 class="footer-heading">Pages</h2>
                    <ul>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li><a href="{% url 'products' %}">Products</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                        <li><a href="{% url 'quotation' %}">Request Quotation</a></li>
                        <li><a href="{% url 'tracking' %}">Track Quotation</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-column">
                    <h2 class="footer-heading">Follow Us</h2>
                    <p>Stay updated with our latest products and news.</p>
                    <div class="social-links mt-3">
                        <ul>
                            <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                            <li><a href="https://x.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <p>Copyrights &copy; 2026 - GAMMA Factory for Metal Industries. All Rights Reserved.</p>
            </div>
            <div class="col-lg-6 text-right col-md-12">
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://x.com" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com" target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-1.11.3.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
